# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# GrowServer ignores
.cache
data

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Custom ignores
setup-port-forwarding.ps1
tools/
update-hosts.ps1
growserver-cache/
GrowDocs/GrowDocs-master/enet_server/packet_type1.md
GrowDocs/GrowDocs-master/enet_server/packet_type2.md
GrowDocs/GrowDocs-master/enet_server/packet_type3.md
GrowDocs/GrowDocs-master/enet_server/packet_type4.md
GrowDocs/GrowDocs-master/enet_server/packet_type5.md
GrowDocs/GrowDocs-master/enet_server/packet_type6.md
GrowDocs/GrowDocs-master/enet_server/README.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/README.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type000.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type001.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type002.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type003.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type004.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type006.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type007.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type008.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type009.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type010.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type011.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type012.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type014.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type015.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type016.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type017.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type018.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type019.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type020.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type021.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type023.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type024.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type028.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type033.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/extra_tile_data/type040.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/type00.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/type01.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/type04.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/type16.md
GrowDocs/GrowDocs-master/enet_server/tank_packets/variant_packets/packet_OnConsoleMessage.md
GrowDocs/GrowDocs-master/items_dat/cypher.md
GrowDocs/GrowDocs-master/items_dat/README.md
GrowDocs/GrowDocs-master/LICENSE
GrowDocs/GrowDocs-master/README.md
GrowDocs/GrowDocs-master/types_definition.md
apps/server/src/fetch.js
apps/server/src/fetch2.js
apps/server/src/fetch3.js
apps/server/src/search.js
apps/server/test-base.js
get_magplant.js
growserver_debug_context.md
Map.cpp
Map_cpp.cpp
out.log
search.js
search_gh.js
test-items.js
test.js
