services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "17091-17095:17091-17095/udp"
      - "3000-3001:3000-3001/tcp"
    depends_on:
      - db
      - redis
    environment:
      - NODE_ENV=development
  db:
    image: mongo:8.2.2
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=growserver
      - MONGO_INITDB_ROOT_PASSWORD=ilovereimu
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/var/lib/redis/data
    ports:
      - "6379:6379"
  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config


volumes:
  mongodb_data:
  redis_data:
  caddy_data:
  caddy_config:
